<img src="https://s3.ap-northeast-1.amazonaws.com/cdn.vieux.click/wallaby/logo.png" />
<h1>Wallaby Maths</h1>
<h2>À propos</h2>

<p class="about">En complément de l'école, ma fille a besoin de faire des exercices supplémentaires à la maison pour bien assimiler les techniques de calcul. J'ai donc créé cet outil de génération de feuilles d'exercices à imprimer qui me permet d'économiser du temps sur la création et la correction des exercices.<p>
<p class="about">Bien à vous,<br/><a class="credits" href="https://linktr.ee/grosgg">@grosgg</a></p>

<p>
  <a class="credits" href="<%= uri('/') %>">Retour</a>
</p>