<h1>Wallaby</h1>

<a class="btn" href="/additions" target="_blank">Additions</a>
<a class="btn" href="/soustractions" target="_blank">Soustractions</a>
<a class="btn" href="/multiplications" target="_blank">Multiplications</a>
<a class="btn" href="/divisions" target="_blank">Divisions</a>

<p><a class="credits" href="https://linktr.ee/grosgg">@grosgg</a></p>
