html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Belanosima', sans-serif;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

main {
  display: flex;
  height: 100%;
}

#content {
  flex: 0 1 auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: 5px solid black;
  padding: 20px;
  text-align: center;
}

.btn {
  display: block;
  border-radius: 10px;
  border: 5px solid black;
  padding: 20px;
  box-shadow: 5px 5px black;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.credits {
  text-decoration: none;
  color: gray;
}
