html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Belanosima', sans-serif;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

main {
  display: flex;
  height: 100%;
}

#content {
  flex: 0 1 auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: 5px solid black;
  padding: 20px;
  text-align: center;
  max-height: 80%;
  max-width: 80%;
  overflow: auto;
}

img {
  width: 50%;
  max-width: 350px;
}

h2, .recents {
  text-align: left;
}

.about {
  text-align: justify;
  max-width: 600px;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  border: 5px solid black;
  padding: 20px;
  box-shadow: 5px 5px black;
  text-decoration: none;
  color: black;
  margin: 10px;
}

.btn.disabled {
  background-color: grey;
}

.credits {
  text-decoration: none;
  color: gray;
}
